.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.barra{
    grid-column: 1/-1;
    margin-left: 200px;
    margin-right: 200px
}

.foto{
    grid-column:  1/2;
}

.informacion{
    grid-column:  2/2;
}

.quien{
    grid-column: 1/-1;
    margin-left: 200px;
    margin-right: 200px
}

.footer{
    grid-column: 1/-1;
}

nav >ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav > ul > li {
    float: left;
  }
  
 nav > ul> li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  ul >li a:hover {
    background-color: #111;
  }


  h2{
      text-align: center;
  }

footer > p{
    text-align: center;
}