body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(238, 235, 235);
}

header,
footer {
  background-color: mediumseagreen;
  margin-bottom: 10px;
}

img{
  height: 300;
  width: 200px;
  margin: 2px ;
  border: 2px solid black;
}

.container{
  padding-bottom: 5px;
}

.contenedor {
  padding: 20px;
}

.certificado {
  border: 5px solid black;
}

.enlaces {
  color: black;
  display: flex;
  justify-content: space-around;
}

#enlace:hover {
  color: black;
  font-size: 120%;
}
