

.img img{
	height: 300px;
    width: 300px;
	margin-right: 240px;
    margin-left: 230px; 
}


body {
	border: 2px solid black;
    outline-style: solid;
    outline-color: #0F35DE;
	background: #A0CFFF;
    outline-width: medium;
	margin-right: 290px;
    margin-left: 290px;   
	background:#E8D8FF;
	
}

h1 {
	color: #DE0F23;
	text-align: center;
	text-shadow: 2px 2px 5px #1C0FDE;
}
.subtitulo{
	
	text-align: center;
}

table,td,th{
	
border: 2px solid black;
  border-radius: 8px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top:15px;
  margin-bottom:15px;
  width:95%
}
th{
	
	background-color:#A079D9;
}
